extends html, javascript, css

snippet vifelse
        <template v-if '${1:condition}'>
          ${2:statement1}
        </template>
        <template v-else>
          ${3:statement2}
        </template>

